* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  line-height: 1.35;
}

h1, h2, h3, h4 {
  font-family: 'Bitter', serif;
  font-weight: 400;
}

section {
  margin: 2rem 0;
}

p, ul {
  margin-bottom: 1rem;
}

ul {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #D2691E;
}

a:hover,
a:active,
a:visited {
  border-bottom: 3px solid #e07529;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 3rem;
}

.wrapper {
  width: 70%;
  margin: 3rem auto;
}

.menu {
  margin-left: 1rem;
  list-style: none;
}

.menu li {
  padding: 0.1em 0;
}

.menu li:before {
  margin-right: 0.6em;
  content: '★';
  color: #d2691e;
  font-size: 0.85em;
}
